.element {
  max-width: 282px;
  height: 361px;
  background: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-areas: 
  "image image"
  "name like";
  grid-template-rows: 282px auto;
  grid-template-columns: auto 64px;
}